<!DOCTYPE html>
<html>

<head>
    <title>takealot.com - REGISTER</title>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--theme-style-->
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--fonts-->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <!--//fonts-->
    <script src="../lib/jquery-3.1.1.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>

    <link href="../node_modules/angular-material/angular-material.css" rel="stylesheet" />
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/app/services.js"></script>
    <script type="text/javascript" src="../js/app/controllers.js"></script>

</head>

<body ng-app="takealot" ng-controller="RegistrationCtrl">
    <!--header-->
    <div class="header">
        <div class="bottom-header">
            <div class="container">
                <div class="header-bottom-left">
                    <span><div class="logo">
                        <a href="home.html"><img style="width:180px; height:50px" src="../images/logo.png" alt=" " /></a>
                    </div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <div>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a style="color:black" href="../views/enquiries.html">Email Us</a> | 
                        <a style="color:black" href="">Help</a>
                    </div></span>
                </div>
                <div class="header-bottom-right">
                    <div class="account">Hi! {{loggedUser}}&nbsp<a href="login.html"><span> </span><div class="dropdown">
                            <div class="dropbtn">
                                
                                 My Account
                                 </div>
                                 <div class="dropdown-content">
                                     <a href="#">My Account</a>
                        <a>Track Order</a>
                        <a>Log Return</a>
                        <a>Invoices</a>
                        <a href="../views/profile.html">Personal Details</a>
                        <a>Digital Library</a>
                    </div>
                </div>
                </a>
            </div>
            <ul class="login">
                <li><a href="login.html"><span> </span>Login</a></li> |
                <li><a href="register.html">Register</a></li>
            </ul>
            <div class="cart"><a href="../views/cart.html"><span> </span>Cart | {{cartItems}}</a></div>
        </div>
        <div class="clearfix"> </div>
    </div>

    </div>
    <div class="footer-line">
        <!--header blue line-->

    </div>
    </div>
    <!---->
    <div class="container">

        <div class="register">
            <form>
                <div class="  register-top-grid">
                    <h3>REGISTRATION</h3>
                    <div class="mation">
                        <span>First Name <label style="color:red"> *</label></span>
                        <input ng-model="name" placeholder="Name" type="text">

                        <span>Last Name <label style="color:red"> *</label></span>
                        <input ng-model="surname" placeholder="Surname" type="text">

                        <span>Email Address <label style="color:red"> *</label></span>
                        <input ng-model="email" placeholder="Email Address" type="text">

                        <span>Password <label style="color:red">*</label></span>
                        <input ng-model="password" placeholder="Password" type="text">

                        <span>Confirm Password <label style="color:red">*</label></span>
                        <input ng-model="repassword" placeholder="Confirm Password" type="text">

                        <span>Phone Number <label style="color:red"> *</label></span>
                        <input ng-model="cellNumber" placeholder="Phone Number" type="text" max="10">

                        <span>Gender <label style="color:red"> *</label></span>
                        <select style="width:200px; height:30px; border-radius:5px" class="ddown " placeholder="Gender " ng-model="gender " required>
                                <option value="Male ">Male</option>
                                <option value="Female ">Female</option>
                            </select>
                        </br>
                        </br>

                        <span>Date of birth <label style="color:red"> *</label></span>
                        <select style="border-radius:5px; width:100px; height:30px" class="ddown-bd " selected="Day " ng-model="day ">
                                <option ng-repeat="day in days ">{{day}}</option>

                            </select>&nbsp&nbsp
                        <select style="border-radius:5px; width:100px; height:30px" class="ddown-bd " ng-model="month ">
                                <option value="January ">January</option>
                                <option value="February ">February</option>
                                <option value="March ">March</option>
                                <option value="April ">April</option>
                                <option value="May ">May</option>
                                <option value="June ">June</option>
                                <option value="July ">July</option>
                                <option value="August ">August</option>
                                <option value="September ">September</option>
                                <option value="October ">October</option>
                                <option value="November ">November</option>
                                <option value="December ">December</option>
                            </select>&nbsp&nbsp
                        <select style="border-radius:5px; width:100px; height:30px" class="ddown-bd " selected="Year " ng-model="year ">
                                <option ng-repeat="year in years ">{{year}}</option>
                            </select>
                    </div>
                    <div class="clearfix"> </div>

                    <label style="text-transform: uppercase" class="checkbox">
                                <input type="checkbox" ng-model="sms" checked><i> </i>Recieve special offers from us via SMS</label>
                    <div class="clearfix"> </div>
                    <label style="text-transform: uppercase" class="checkbox">
                                <input type="checkbox" ng-model="promo" checked><i> </i>Receive special offers from our selected partners</label>

                </div>
            </form>

            <div class="clearfix"> </div>
            <div class="register-but">
                <form>
                    <input style="border-radius:5px;" type="submit" value="Register" ng-click="register()">
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
        <div class="sub-cate" style="font-size:12px">
            <div class=" top-nav rsidebar span_1_of_left">
                <h3 class="cate">Shop by department</h3>
                <ul class="menu">
                    <li class="item1"><a href="#">Liqour<img class="arrow-img list-img" src="../images/arrow1.png" alt=""/> </a>
                        <ul class="cute">
                            <li class="subitem1"><a href="product.html">Spirits</a></li>
                            <li class="subitem2"><a href="product.html">Wine </a></li>
                            <li class="subitem3"><a href="product.html">Whisky </a></li>
                        </ul>
                    </li>
                    <li class="item2"><a href="#">Computer & Tablets<img class="arrow-img list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item3"><a href="#">Cellphones & GPS<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/> </a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">TV, Audio & Video<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Camera<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Office & Stationary<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Books<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Gaming<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"> </a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Movies & TV<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Music<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Home & Kitchen<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">DIY & Auto<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Garden, Pool & Patio<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Toys<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Fashion & Accessories<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Sport<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Camping & Toddler<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Health & Outdoor<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Pets<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Luggage & Travel<img class="arrow-img img-left-arrow list-img" src="../images/arrow1.png" alt=""/></a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem2">
                                <a href="product.html"></a>
                            </li>
                            <li class="subitem3">
                                <a href="product.html"> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="kid-menu">
                            <li><a href="product.html">Vouchers</a></li>

                        </ul>
                    </li>
                    <li>
                        <ul class="kid-menu">
                            <li style="background-color:green; color:white !important"><a style="color: white" href="product.html">DAILY DEALS</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function() {
                    var menu_ul = $('.menu > li > ul'),
                        menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function(e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });

                });
            </script>

            <a class="view-all all-product" href="product.html">VIEW ALL PRODUCTS<span> </span></a>
        </div>
    </div>
    <!---->
    <div class="footer">
        <div class="footer-top">
            <div class="container">

                <div class="latter-right">
                    <p>FOLLOW US</p>
                    <ul class="face-in-to">
                        <li><a href="#"><span> </span></a></li>
                        <li><a href="#"><span class="facebook-in"> </span></a></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-cate">
                    <h5>Shop</h5>
                    <ul>
                        <li><a href="#">Daily Deals </a></li>
                        <li><a href="#">App Only Deals</a></li>
                        <li><a href="#">Our Hottest Products</a></li>
                        <li><a href="#">Tech Hub</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-cate bottom-grid-cat">
                    <h5>Help</h5>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping and Delivery</a></li>
                        <li><a href="#">Exchange and Returns</a></li>
                        <li><a href="#">Bank Details</a></li>
                        <li><a href="#">Directions to Warehouse</a></li>
                    </ul>
                </div>
                <!--cate-bottom-->
                <div class="footer-bottom-cate">
                    <h5>Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Track Order</a></li>
                        <li><a href="#">Exchanges and Returns</a></li>
                        <li><a href="#">Personal Details</a></li>
                        <li><a href="#">Invoices</a></li>
                        <li><a href="#">Digital Library</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-cate">
                    <h5>Company</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Sell on Takealot</a></li>
                        <li><a href="#">Press and News</a></li>
                        <li><a href="#">Competition</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li class="phone"></li>

                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-line">
            <div>
                <p style="color:white; text-align:right; margin-right: 49px;">Switch to Mobile - offline</p>
                <p style=" font-size:15px; color:white; text-align:right; margin-right:45px;">© Takealot Online (Pty) Ltd.</p>
            </div>

        </div>
    </div>
</body>

</html>